@import '../../../assets/styles/variables';

.filter-select {
  option {
    &:first-child {
      color: grey;
    }
  }
}

.user {
  &__container {
    padding: 10px;
    margin-top: 20px;
  }

  &__list {
    &--title {
      font-size: $text-larger;
    }
  }
  
  &__title {
    color: black;
    font-size: $text-larger;
  }
}
