$theme_color: #ff0000;
$border-radius-hack: 999px;
$border-radius-base: 4px;
$text-bold: 700;
$text-xsm: 12px;
$text-small: 14px;
$text-base: 16px;
$text-large: 20px;
$text-larger: 25px;
$text-xl: 30px;
$bg--light: #f8f9fa;
$bg--dark-light: #f8f8f8;
$color--dark: #3d3d3d;
$color--red-pink: #f75c5c;
$breakpoint-xs: 575.98px;
$breakpoint-sm: 767.98px;
$breakpoint-md: 991.98px;
$breakpoint-lg: 1199.98px;
