@import "../../assets/styles/variables";
$img-width: 80%;
$img-height: 230px;
$left-margin: 20px;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  // max-height: 600px;
  min-width: 100px;
  background-color: white;
  margin: 10px;
  z-index: 1;
  border-radius: $border-radius-base;
  position: relative;
  box-shadow: 1px 1px 5px 1px rgba(82, 80, 80, 0.2);

  &--no-margin {
    margin: 0;
    margin-bottom: 15px;
  }

  .img-wrapper {
    width: 100%;
    min-height: $img-height;
    background: $bg--dark-light;
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    border-radius: $border-radius-base $border-radius-base 0 0;

    img {
      width: 100%;
      border-radius: $border-radius-base;
      max-height: $img-height;
      min-height: $img-height;
      object-fit: cover;
    }
  }

  .icon {
    cursor: pointer;

    &:hover {
      color: $theme_color;
    }

    &__user {
      font-size: 15px;
      margin-left: $left-margin;
      margin-right: 5px;
    }
    &__calendar {
      font-size: 15px;
      margin-left: $left-margin;
      margin-right: 5px;
    }
  }

  &__likeShare {
    font-size: 13px;
    margin-left: 5px;
  }

  &__info {
    margin-bottom: 15px;
    align-self: flex-start;
    font-size: $text-small;
    padding: 10px 15px;
  }

  &__content {
    max-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__user:hover {
    color: $theme_color !important;
  }

  &__time-info {
    background: $bg--dark-light;
    width: 100%;
    padding: 10px;
    color: $color--dark;
    font-size: $text-small;
    cursor: pointer;
  }

  &__details {
    text-transform: uppercase;
    cursor: pointer;
    color: $theme_color;
    font-weight: 700;
    font-size: $text-small;
    padding: 10px;
  }

  &__create {
    font-size: 13px;
    margin-bottom: 30px;
  }
}
