@import '../../../assets/styles/variables';

.item {
  .icon {
    &__location {
      font-size: 15px;
    }
  }

  &__price {
    margin-top: 5px;
    font-size: $text-xl;
    color: $theme_color;
  }
 
  &__title {
    color: black;
    font-size: $text-xl;
  }

  &__location {
    display: flex;
    align-items: center;
    color: $color--dark;
    text-decoration: none;
    font-size: $text-small;

    &:hover {
      color: $color--red-pink;
    }
  }
  
  &__id {
    color: $color--dark;
    font-size: $text-base;
  }
}
