@import '../../../assets/styles/variables';

.filter-select {
  option {
    &:first-child {
      color: grey;
    }
  }
}

.item{
  &__container {
    padding: 10px;
    background: #f8f9fa;
  }

  &__list {
    &--title {
      font-size: $text-larger;
    }
  }
}
