@import '../../../assets/styles/variables';


body {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.93),
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 1)
    ),
    url('../../../assets/images/background.jpeg');
}

.search-icon {
  color: $theme_color;
}

.btn-danger_custom {
  background: $theme_color;
}

.color--red {
  color: $theme_color;
}

.text-small {
  font-size: 15px !important;
}

.text-bold {
  font-weight: $text-bold;
}

::-webkit-input-placeholder {
  font-size: 16px!important;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 16px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-size: 16px!important;
}

.search-section__wrapper {
  margin: 0 auto;
  width: 60%;
  align-items: center;
  flex-wrap: wrap;
}
